body {
    background: #007fc7;
}

#container {
    background: white;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

/* h1 {
    position: static;
} */

p {
    width: 300px;
    /* margin: 0px; */
}

.relative {
    border: 1px solid red;
    position: relative;
    /* top, right, bottom e top */
    top: -20px;
    left: 80px;
}

.absolute {
    position: absolute;
    border: 1px solid black;
    background: #f2f2f2;
    top: 0px;   
    right: 20px;
}

.fixed {
    position: fixed;
    border: 1px solid green;
    background: #f2f2f2;
    margin: 0px;
    bottom: 0px;
    right: 0px;
}